snippet . align-left
	${1}[align=left]<++>[/align]
snippet . align-center
	${1}[align=center]<++>[/align]
snippet . align-right
	${1}[align=right]<++>[/align]
snippet . img
	${1}[img]<++>[/img]
snippet . b
	${1}[b]<++>[/b]
snippet . i
	${1}[i]<++>[/i]
snippet . u
	${1}[u]<++>[/u]
snippet . code 
	${1}[code]<++>[/code]
snippet . quote 
	${1}[quote]<++>[/quote]
snippet . list 
	${1}[list]
	[*]<++>
	[/list]
